.list-wrap {
  padding: 20px;
  height: fit-content;
}
.grid {
  width: 100%;
  max-width: 1040px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  gap: 15px;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  place-content: center;
  align-content: center;
  justify-items: center;
}
.card {
  background-color: var(--text-white);
  height: fit-content;
  width: 90%;
  max-width: 300px;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  transition: 0.15s all ease-in-out;
  box-sizing: border-box;
  padding: 20px;
  background: linear-gradient(to top, #9e9ee1,   #6f6fac, #747387);
  align-content: center ;
  place-content: center;
  justify-items: center;
}

.details {
  height: fit-content;
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: bold;
  color: white;
  font-size: 15px;
  margin-bottom: 10px;
}
.details p>a {
  color: white;
}

.card:hover {
  outline: 4px solid orange;
}

.card-img {
  width: 170px;
  height: 170px;
  border-radius: 100%;
  outline: 2px solid white;
}
.ra {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 900;
}

@media (max-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 15px;
    justify-content: center;
  }
}