
form {
  width: 90%;
  max-width: 400px;
  height: fit-content;
  padding: 32px 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: 2px solid var(--text-black);
  border-radius: 20px;
  z-index: 2;
}

/* .body-wrap {
  background-color: white;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} */

.main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white-bg);
  z-index: 1;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  padding: 20px;
  /* display: none; */
}
input {
  padding: 12px 20px;
  border-radius: 30px;
  border: none;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  color: var(--text-black);
  font-weight: 700;
  outline: 2px solid black;
}
#submit-log {
  padding: 10px 50px;
  border-radius: 25px;
  border: none;
  background-color: var(--bg-);
  outline: 2px solid black;
  color: var(--text-black);
  font-size: 16px;
  font-weight: bold;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
form p {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  color: var(--text-black);
}
/* .main-body {
  display: none;
} */

.main-body h1 {
  margin-bottom: -10px;
  font-weight: 900;
  color: var(--text-black);
}

#stat {
  color: green;
  font-weight: 900;
}
.stat-log {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  gap: 25px;
  row-gap: 40px;
  justify-content: center;
  margin-top: 30px;
}
.users {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: bold;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: fit-content;
  background-color: var(--white-bg);
  color: var(--text-black);
  padding: 30px;
  border-radius: 10px;
  outline: 1px solid var(--text-black);
  position: relative;
}

.users li>h4 {
  color: var(--text-black);
  font-size: 16px;
}
.users li>p {
  color: var(--text-black);
  font-size: 16px;
}
.users li>p>span {
  color: var(--text-black);
  font-size: 15px;
  font-weight: 900;
}
.users li>h5 {
  color: var(--text-black);
  font-size: 16px;
  margin-top: 5px;
}
.users li>h5>span {
  color: green;
  font-size: 15px;
  font-weight: 900;
}
.users li>p>span a {
  color: var(--text-black);
  font-size: 15px;
  font-weight: 900;
}
.users li>h4>span {
  color: var(--text-black);
  font-size: 15px;
  font-weight: 900;
}

.instruction {
  text-align: center;
  box-sizing: border-box;
  padding: 30px;
  font-weight: 600;
}
.instruction a {
  font-weight: 900;
}
.instruction a:hover {
  text-decoration: underline;
  color: orange;
}
.details-col {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.logs {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  gap: 20px;
}
.box {
  background-color: var(--div-bg);
  width: 100%;
  height: 150px;
  border-radius: 10px;
  color: white;
  display: flex;
  box-sizing: border-box;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box h4 {
  font-weight: 600;
}
.box h1 {
  color: white;
}
.box2 {
  position: relative;
}

.info {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 981px) {
  .stat-log {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 30px;
    justify-content: center;
  }
}

@media (max-width: 650px) {
  .stat-log {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 30px;
    justify-content: center;
    align-items: center;
  }

  .logs {
    flex-direction: column;
  }
  .box {
    height: fit-content;
  }


}

@media (min-width: 1300px) {
  .stat-log {
    max-width: 1024px;
  }
}

@media (min-width: 650px) {
  .box {
    max-width: 300px;
  }
}
