* {  
  margin: 0;  
  padding: 0;  
  box-sizing: border-box;  
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  font-style: normal;
} 

:root {
  --bg-: white;
  --dark-bg: rgb(9, 9, 12);
  --text-black: #242224;
  --text-hover: orange;
  --white-bg: rgb(255, 255, 255);
  --text-white: #FFFFFF;
  --div-bg: #140f2b;
}
body {
  padding: 0px;
  height: fit-content;
  background-color: var(--bg-);
}
section {
  padding: 30px;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

/* bold paragraphs  */
.p-1 {
  font-size: 16px;
  font-weight: bold;
}

/* header */
header {  
  background: #140f2b;
  width: 100%;
  color: rgb(237, 237, 237);  
  padding: 1rem 2rem;  
  display: flex;  
  justify-content: space-between;  
  align-items: center;  
  position: sticky;  
  top: 0;  
  z-index: 10000;  
  height: 80px;
  backdrop-filter: blur(40px);
}  

.logo {  
  font-size: 1.5rem;  
  font-weight: bold; 
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center;
  gap: 10px;
}  
.logo img {
  width: 35px;
  height: 35px;
}
.logo a {
  font-size: 22px;
  color: var(--text-white);
}
nav ul {  
  display: flex;  
  list-style: none;  
  gap: 1.5rem; 
  height: fit-content; 
}  

nav a {  
  color: white;  
  text-decoration: none;  
  transition: 0.3s; 
}  

nav a:hover {  
  color: #3498db;  
}  

.menu-toggle {  
  display: none;  
  cursor: pointer;  
}  

@media (max-width: 768px) {  
  nav ul {  
    display: none;  
    flex-direction: column;  
    width: 100%;  
    position: absolute;  
    top: 70px;  
    left: 0;  
    background: rgb(44, 62, 80);
    backdrop-filter: blur(40px);  
    padding: 1rem 2rem;  
  }  
  nav li {
    margin-bottom: 15px; 
    border-bottom: 1px solid rgb(146, 146, 146);
    padding-bottom: 3px;
  }
  #nav-menu li>a {
    font-size: 20px;
  }
  nav ul.active {  
    display: flex;  
  }  
  nav a {  
    color: white;  
  }  

  .menu-toggle {  
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {opacity: 0;}
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -3px) rotate(45deg);
  }  
} 
/* ----------------------------------------------------------- */

.footer {
  background-color: rgb(20, 15, 43);
  height: fit-content;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.f-text {
  font-weight: 700;
  font-size: 13px;
}
.tech {
  color: orange;
  font-weight: 700;
  margin-top: 10px;
  font-size: 14px;
}
.footer-icons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}