
body {
  background-color: var(--bg-);
}
.news-grid {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  padding: 20px;
}
.news-grid h1 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 900;
  margin: 0px;
  color: var(--text-black);
}
.news-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  gap: 15px;
  margin-top: 30px;
  row-gap: 40px;
  justify-content: center;
}
.rules {
  box-sizing: border-box;
  padding: 0px 10px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  background-color: var(--bg-);
  color: var(--text-white);
  word-spacing: 1.2px;
  font-weight: 900;
  transition: 0.15s all ease-in-out;
  background-color: var(--text-white);
  color: var(--text-black);
  /* outline: 1px solid var(--text-black); */
}
.rules li {
  color: var(--text-black);
  font-weight: 700;
  letter-spacing: 0.3px;
}
/* .rules:hover {
  outline: 2px solid orange;
} */
.tell {
  color: orange;
  text-decoration: underline;
}
.acc {
  color: orange;
  text-decoration: underline;
}
.send-q {
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  outline: 1px solid var(--text-black);
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  color: var(--text-black);
  transition: 0.15s all ease-in-out;
  margin-top: 30px;
}
.send-q:hover {
  transform: scale(1.1);
  color: rgb(35, 35, 35);
}


@media (max-width: 981px) {
  .news-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 30px;
    justify-content: center;
  }
}

@media (max-width: 650px) {
  .news-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1300px) {
  .news-list {
    max-width: 1024px;
  }
}