body {
  background-color: rgb(228, 228, 228);
}
.news-grid {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  padding: 30px;
}
.news-grid h2 {
  margin-bottom: 10px;
  text-align: center;
  margin: 0px;

}
.news-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, auto);
  gap: 15px;
  margin-top: 10px;
  row-gap: 40px;
  justify-content: center;
}
.rules {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  height: fit-content;
}