
.card-img11 {
  background-image: url("/images/img11.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.card-img22 {
  background-image: url("/images/img22.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.card-img33 {
  background-image: url("/images/img33.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.card-img1 {
  background-image: url("/images/img1.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.card-img2 {
  background-image: url("/images/img2.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.card-img3 {
  background-image: url("/images/img3.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.card-img4 {
  background-image: url("/images/img4.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}