@media (min-width: 769px) {
  header {
    height: 90px;
  }
  .logo img {
    width: 37px;
    height: 37px;
  }
}

@media (min-width: 600px) {
  .content p {
    width: 50%;
    height: fit-content;
  }
}

@media (max-width: 650px) {
  .video-background {
    height: 85vh;
  }
  .news-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 40px;
    margin-top: 30px;
    justify-content: center;
  }
  .stat-log {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 30px;
    margin-top: 30px;
    justify-content: center;
  }

}

@media (max-width: 320px) {
  .content p {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .grid {
    width: 100%;
    max-width: 1040px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 15px;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    place-content: center;
    align-content: center;
    justify-items: center;
  }
  .card {
    margin-right: 0px;
  }
  .seek-card {
    display: none;
  }

  
}

@media (min-width: 651px) {
  .video-background {
    height: 90vh;
  }
}