@media (min-width: 769px) {
  header {
    height: 90px;
  }
  .logo img {
    width: 37px;
    height: 37px;
  }
  .logo a {
    font-size: 18px;
  }
  .p-1 {
    font-size: 16px;
  }
}

@media (min-width: 600px) {
  .content p {
    width: 50%;
  }
}

@media (max-width: 650px) {
  .video-background {
    height: 85vh;
  }
  .content h1 {
    font-size: 31px;
  }
  .p-1 {
    font-size: 18px;
  }
  .content p {
    font-size: 18px;
  }
  .content button {
    font-size: 16px;
  }
  .news-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 15px;
    margin-top: 30px;
    justify-content: center;
  }
  .stat-log {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 15px;
    margin-top: 30px;
    justify-content: center;
  }

}
/* @media (min-width: 551px) and (max-width: 1024px) {
  header {
    background-color: aqua;
  }
  .agents-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 15px;
    margin-top: 30px;
    justify-content: center;
  }

} */

@media (max-width: 320px) {
  .content p {
    width: 100%;
    font-size: 12px;
  }
}