@media (max-width: 768px) {
  .content {
    margin-top: -30px;
  }
  .content h1 {
    font-size: 31px;
    margin: 0px;
  }
  .content p {
    font-size: 12px;
  }
  .get-started {
    font-size: 18px;
    width: 70%;
    max-width: 400px;
  }
  .p-1 {
    font-size: 18px;
  }
  .content p {
    font-size: 18px;
  }
  .logo a {
    font-size: 22px;
  }
  .p-1 {
    font-size: 16px;
  }
  .news-grid h1 {
    font-size: 23px;
  }
  
.page-links {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 30xp;
}
  .page-links p {
    font-size: 14px;
    font-weight: 900;
  }
  .page-links a {
    font-size: 14px;
    font-weight: 900;
  }
}